.carousel-item {
    position: relative;
    height: 100vh;
}

.carousel-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4)
}

.carousel-text {
    animation: fadeInUp 1s ease-in-out;
    position: absolute;
    bottom: 20%;
}

.carousel-text h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.carousel-text p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-container {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
}

.search-input {
    flex: 1;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
}

.search-btn {
    background: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 50px 50px 0;
}

.search-btn svg {
    font-size: 20px;
    color: green;
}
